.newlegend {
  /*   position: absolute;
  bottom: 20px; 
  left: 50%;
  margin-left: -45%;*/
  width: 100%;
  border-radius: 9999px;
  background: #000;
  color: #fff;
  padding: 1.25rem;
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 500;
  letter-spacing: -0.025em;
  border: solid 3px white;
}
